---
name: generate-projects

on:
  workflow_dispatch:
  schedule:
    - cron: "3 3 * * 3"

permissions: read-all

jobs:
  generate-projects:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate _tabs/projects.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install prettier
          scripts/generate-projects.sh _tabs/projects.md

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          add-paths: _tabs/projects.md
          branch: chore/generate-projects
          commit-message: "docs: update _tabs/projects.md"
          delete-branch: true
          labels: generate-projects
          title: "docs: update _tabs/projects.md"
