---
# GitHub Actions workflow for Hugo static site building and deployment
# Builds Jekyll site and deploys to GitHub Pages
name: gh-pages-build

on:
  workflow_dispatch:
  push:
    paths:
      - "_config.yml"
      - "_data/**"
      - "_plugins/**"
      - "_posts/**"
      - "_tabs/**"
      - ".ruby-lint.yml"
      - "assets/**"
      - Gemfile

permissions: read-all

defaults:
  run:
    shell: bash -euxo pipefail {0}

jobs:
  gh-pages-build:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
      deployments: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          submodules: true

      - name: Set Variables
        env:
          CLOUDFLARE_WEB_ANALYTICS_SITE_TOKEN: ${{ secrets.CLOUDFLARE_WEB_ANALYTICS_SITE_TOKEN }}
        run: |
          set -euo pipefail
          CLOUDFLARE_PAGES_PROJECT=$(echo "${GITHUB_REPOSITORY#*/}" | tr . - )
          echo "CLOUDFLARE_PAGES_PROJECT=${CLOUDFLARE_PAGES_PROJECT}" | tee -a "${GITHUB_ENV}"

          if [[ "${GITHUB_REF_NAME}" = "main" ]]; then
            BASE_DOMAIN="${GITHUB_REPOSITORY#*/}"
          else
            BASE_DOMAIN="dev.${CLOUDFLARE_PAGES_PROJECT}.pages.dev"
          fi

          sed -i "s@^url:.*@url: \"https://${BASE_DOMAIN}\"@" _config.yml
          sed -i "/cloudflare:/{n;s@id:.*@id: ${CLOUDFLARE_WEB_ANALYTICS_SITE_TOKEN}@}" _config.yml
          mkdir public

      - name: Setup Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: 4.0.1
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll build --destination public
        env:
          JEKYLL_ENV: "production"

      - name: Add files to public directory
        run: |
          cp LICENSE public/
          sed -n '1,/Dev Page:/p' README.md > public/README.md
          touch public/.nojekyll

      - name: Test site
        run: |
          bundle exec htmlproofer public \
            --disable-external \
            --ignore-urls "/127.0.0.1/,/0.0.0.0/,/localhost/,/.local/"

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        if: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/gh-pages' }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./public --branch=dev --commit-dirty=true --project-name=${{ env.CLOUDFLARE_PAGES_PROJECT }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
