name: MegaLinter

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - renovate/**

permissions: read-all

jobs:
  build:
    name: MegaLinter
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Extract commands from markdown files
        run: |
          set -euxo pipefail
          echo '#!/usr/bin/env bash' > README.sh
          find . -name '*.md' -print0 | while IFS= read -r -d '' FILE ; do
            sed -n "/^\s*\`\`\`\(bash\|shell\).*/,/^\s*\`\`\`$/p" "${FILE}" \
            | \
            sed \
              -e "/^\s\s\`\`\`\(bash\|shell\).*/,/^\s\s\`\`\`$/ s/^\s\s//" \
              -e 's/^\s*```\(bash\|shell\).*//' \
              -e '/^\s*```/d' \
            >> README.sh
          done
          chmod a+x README.sh

      - name: MegaLinter
        uses: oxsecurity/megalinter/flavors/documentation@v7.4.0
        env:
          BASH_SHFMT_ARGUMENTS: --indent 2 --space-redirects
          DISABLE_LINTERS: REPOSITORY_DEVSKIM,SPELL_CSPELL
          FILTER_REGEX_EXCLUDE: CHANGELOG.md
          FORMATTERS_DISABLE_ERRORS: false
          GITHUB_COMMENT_REPORTER: false
          GITHUB_STATUS_REPORTER: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HTML_HTMLHINT_FILTER_REGEX_EXCLUDE: ^index.html
          JSON_PRETTIER_FILTER_REGEX_EXCLUDE: ^.markdown-link-check.json
          PRINT_ALPACA: false
          RUBY_RUBOCOP_FILTER_REGEX_EXCLUDE: ^_plugins
          SPELL_CSPELL_FILTER_REGEX_INCLUDE: (^README.md|^_posts/)
          # Needed for scanning generated README.sh file
          VALIDATE_ALL_CODEBASE: true
          YAML_PRETTIER_FILTER_REGEX_EXCLUDE: (^_data/|^_config.yml)
          YAML_V8R_FILTER_REGEX_EXCLUDE: (^_data/|^_config.yml)
