name: post_tests

on:
  # checkov:skip=CKV_GHA_7:The build output cannot be affected by user parameters other than the build entry point and the top-level source location. GitHub Actions workflow_dispatch inputs MUST be empty.
  workflow_dispatch:
    inputs:
      posts:
        type: choice
        description: Select post
        default: 2022-11-27-cheapest-amazon-eks
        required: true
        options:
          - 2022-11-27-cheapest-amazon-eks
          - 2022-12-24-amazon-eks-karpenter-tests 2022-11-27-cheapest-amazon-eks
          - 2023-03-08-trivy-operator-grafana 2022-11-27-cheapest-amazon-eks
          - 2023-03-20-velero-and-cert-manager 2022-11-27-cheapest-amazon-eks
          - 2023-04-01-secrets-store-csi-driver-reloader 2023-03-20-velero-and-cert-manager 2022-11-27-cheapest-amazon-eks
      action:
        type: choice
        description: Select action
        default: build + destroy
        required: true
        options:
          - build
          - destroy
          - build + destroy

env:
  AWS_DEFAULT_REGION: us-east-1
  AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
  # renovate: datasource=github-tags depName=weaveworks/eksctl
  EKSCTL_VERSION: 0.139.0
  KREW_PLUGINS: cost resource-capacity view-allocations viewnode
  GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

permissions: read-all

jobs:
  post-pipeline:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    name: "${{ inputs.action }} | ${{ inputs.posts }}"
    concurrency:
      group: post-pipeline
    timeout-minutes: 100
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GitHubOidcFederatedRole
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Check out repository code
        uses: actions/checkout@v3

      - name: "${{ inputs.action }} | ${{ inputs.posts }}"
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euxo pipefail

          export TMP_DIR="${PWD}/mytmp"

          POST_FILES_ARRAY=()
          # shellcheck disable=SC2043
          for POST_FILE in ${{ inputs.posts }}; do
            POST_FILES_ARRAY+=("$(find _posts -type f -name "*${POST_FILE}*.md")")
          done

          if grep -q eksctl "${POST_FILES_ARRAY[@]}" && ! command -v eksctl &> /dev/null ; then
            echo "*** Installing eksctl"
            gh release download --repo weaveworks/eksctl --pattern eksctl_Linux_amd64.tar.gz "v${EKSCTL_VERSION}" --output - | sudo tar xz -C /usr/local/bin/
          fi

          if grep -q krew "${POST_FILES_ARRAY[@]}" && ! command -v krew &> /dev/null ; then
            echo "*** Installing krew"
            gh release download --repo kubernetes-sigs/krew --pattern krew-linux_amd64.tar.gz --output - | sudo tar xz -C /tmp/
            /tmp/krew-linux_amd64 install krew
            export PATH="${HOME}/.krew/bin:${PATH}"
            kubectl krew install ${{ env.KREW_PLUGINS }}
          fi

          if grep -q velero "${POST_FILES_ARRAY[@]}" && ! command -v velero &> /dev/null ; then
            echo "*** Installing velero"
            gh release download --repo vmware-tanzu/velero --pattern "velero-*-linux-amd64.tar.gz" --output - | sudo tar xz -C /usr/local/bin/ --strip-components 1 --wildcards "*/velero"
          fi

          if [[ "${{ inputs.action }}" =~ 'build' ]]; then
            echo -e "********************\n*** Create\n********************"
            for (( idx=${#POST_FILES_ARRAY[@]}-1 ; idx>=0 ; idx-- )); do
              echo "*** ${POST_FILES_ARRAY[idx]} | build"
              # shellcheck disable=SC1090
              source <(echo "set -euxo pipefail" ; sed -n "/^\`\`\`bash$/,/^\`\`\`$/p" "${POST_FILES_ARRAY[idx]}" | sed "/^\`\`\`*/d")
              if [[ "${POST_FILES_ARRAY[*]}" =~ eks && ${idx} -eq ${#POST_FILES_ARRAY[@]}-1 ]]; then
                (
                  echo "<https://${CLUSTER_FQDN}>"
                  echo '```'
                  # shellcheck disable=SC2028
                  echo "eval \"\$(aws sts assume-role --role-arn \"\${AWS_ROLE_TO_ASSUME}\" --role-session-name \"\$USER@\$(hostname -f)-k8s-\$(date +%s)\" --duration-seconds 36000 | jq -r '.Credentials | \"export AWS_ACCESS_KEY_ID=\(.AccessKeyId)\\nexport AWS_SECRET_ACCESS_KEY=\(.SecretAccessKey)\\nexport AWS_SESSION_TOKEN=\(.SessionToken)\\n\"')\""
                  echo "export KUBECONFIG=\"/tmp/kubeconfig-${CLUSTER_NAME}.conf\""
                  echo "aws eks update-kubeconfig --region \"${AWS_DEFAULT_REGION}\" --name \"${CLUSTER_NAME}\" --kubeconfig \"\$KUBECONFIG\""
                  echo '```'
                ) | tee -a "${GITHUB_STEP_SUMMARY}"
              fi
            done
          fi

          if [[ "${{ inputs.action }}" =~ 'destroy' ]]; then
            echo -e "********************\n*** Destroy\n********************"
            export AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION:-us-east-1}"
            export CLUSTER_FQDN="${CLUSTER_FQDN:-k01.k8s.mylabs.dev}"
            export CLUSTER_NAME="${CLUSTER_FQDN%%.*}"
            export TMP_DIR="${TMP_DIR:-${PWD}}"
            export KUBECONFIG="${TMP_DIR}/${CLUSTER_FQDN}/kubeconfig-${CLUSTER_NAME}.conf"
            aws eks update-kubeconfig --region "${AWS_DEFAULT_REGION}" --name "${CLUSTER_NAME}" --kubeconfig "${KUBECONFIG}" || true

            for POST_FILE in "${POST_FILES_ARRAY[@]}"; do
              echo "*** ${POST_FILE} | destroy"
              # shellcheck disable=SC1090
              source <(echo "set -ux" ; sed -n "/^\`\`\`sh$/,/^\`\`\`$/p" "${POST_FILE}" | sed "/^\`\`\`*/d") || true
            done
          fi
