name: Renovate

on:
  workflow_dispatch:
    inputs:
      dryRun:
        type: boolean
        description: "Dry-Run"
      logLevel:
        type: choice
        description: "Log-Level"
        options:
          - info
          - debug
          - trace
  push:
    paths:
      - .github/workflows/renovate.yml
      - .github/renovate.json5
  schedule:
    - cron: "0 0,2,4 * * *"

env:
  # https://docs.renovatebot.com/self-hosted-configuration/#repositories
  RENOVATE_REPOSITORIES: ${{ github.repository }}
  # https://docs.renovatebot.com/self-hosted-configuration/#username
  RENOVATE_USERNAME: ${{ github.repository_owner }}
  # https://docs.renovatebot.com/configuration-options/#gitauthor
  RENOVATE_GIT_AUTHOR: "Renovate Bot <bot@renovateapp.com>"
  # https://docs.renovatebot.com/configuration-options/#platformcommit
  RENOVATE_PLATFORM_COMMIT: "true"
  LOG_LEVEL: "${{ inputs.logLevel || 'debug' }}"
  RENOVATE_DRY_RUN: "${{ inputs.dryRun || false }}"
  RENOVATE_BASE_BRANCHES: ${{ github.ref_name }}

permissions: read-all

jobs:
  renovate:
    runs-on: ubuntu-latest
    concurrency:
      group: renovate
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.MY_RENOVATE_GITHUB_APP_ID }}
          private_key: "${{ secrets.MY_RENOVATE_GITHUB_PRIVATE_KEY }}"

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.0.5
        with:
          token: "x-access-token:${{ steps.generate-token.outputs.token }}"
